<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <h1> Its working! Im inside templates </h1>

    <p>{{ subject }}</p>
    <p>{{ subject.name }}</p>
    <p>{{ subject.blurb.first.blurbText }}</p>


    {% for video in subject.youtubevideo_set.all %}
    <iframe width="963" height="722" src="{{ video.link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endfor %}
    {% for note in subject.lecturenote_set.all %}
    <img src="{{ note.image.url }}"></img>
    {% endfor %}
</body>

</html>